@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 9999;
}

main {
  width: 100%;
  /* height: 100%; */
  padding-top: 10vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.product-image {
  max-width: 400px;
  width: 100%;
}

.rating i {
  color: gold;
}

img.large {
  max-width: 100%;
  height: 80vh;
}

img.thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
  width: 100%;
}

.dropdown-menu-right {
  right: 0 !important;
  left: auto !important;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

#carousel-section {
  max-height: 100vh;
  width: 100%;
}

.carousel-item {
  background-size: cover;
  background-position: center;
}
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, white, black);
  opacity: 0.5;
  z-index: -1;
}

.carousel-image {
  height: 60vh;
  object-fit: contain;
}

.bg-caption-light {
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 16px;
}

.bg-caption-dark {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
}

#latest-section {
  min-height: 100vh;
  width: 100%;
}

#all-products-section {
  min-height: 100vh;
  width: 100%;
}

.card-img-top {
  max-height: 200px;
  width: auto;
  object-fit: contain;
}

#reviews {
  max-height: 40vh;
  overflow: auto;
}

.hero-section {
  height: 90vh;
  width: 100%;
  background-image: url("assets/hero.jpeg");
  /* background-size: 100% 100%;
  background-position: 0% 100%; */
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-content {
  text-align: center;
  background-color: rgba(10, 10, 10, 0.8);
  padding: 2rem;
  border-radius: 2rem;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 40px;
}

.hero-content button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.hero-content button:hover {
  background-color: #555;
}
